extends layout

block contenido
    .contenido-principal
        h1 #{nombrePagina}

            li Puedes crear proyectos
            li A cada proyecto crearle una nueva tarea
            li Marcar las tareas como completadas hasta que el proyecto se complete
